{% extends "base.html" %}
{% block content %}

<div class="row mt-4">
    <h3>{{ advertise.title }}</h3>
    <div class="col-md-12"><p>{{ advertise.date_add }}</p></div>
    <div class="col-md-4">
        <img src="{{ advertise.image.url }}" alt="" class="img-fluid">
    </div>
    <div class="col-md-8">
        <h3>{{ advertise.price }} ₽</h3>
        <hr>
        <a href="{% url 'add-to-card' pk=advertise.id %}"><button class="btn btn-success mb-3">Добавить в понравившиеся</button></a>
        <p>Продавец - {{ advertise.seller.username }}</p>
    </div>
    <hr  style=" margin-top: 25px">
    <p><span style="color: #73716a; margin-top: 40px">Состояние: </span>{{ advertise.status }}</p>
    <hr>
    <p>г.{{ advertise.city }}, {% if advertise.street %}{{ advertise.street }}{% endif %}</p>
    <p>{{ advertise.district }}</p>
    <hr>
        <p>{{ advertise.description }}</p>

</div>

{% endblock content %}
