{% extends "base.html" %}
{% block content %}

<div class="row mt-4">
    <h3>{{ advertise.title }}</h3>
    <div class="col-md-12"><p>{{ advertise.date_add }}</p></div>
    <div class="col-md-4">
    <img src="{{ advertise.get_main_image.url }}" alt="" width="300" height="300" style="margin-bottom: 10px">
        {% if advertise.images.image_2 %}
        <img src="{{ advertise.images.image_2.url }}" alt="" width="90" height="90">
        {% endif %}
    {% if advertise.images.image_3 %}
        <img src="{{ advertise.images.image_3.url }}" alt="" width="90" height="90">
        {% endif %}
    {% if advertise.images.image_4 %}
        <img src="{{ advertise.images.image_4.url }}" alt="" width="90" height="90">
        {% endif %}
    {% if advertise.images.image_5 %}
        <img src="{{ advertise.images.image_5.url }}" alt="" width="90" height="90">
        {% endif %}
    </div>
    <div class="col-md-8">
        <h3>{{ advertise.price }} ₽</h3>
        <hr>
        <a href="{% url 'add-to-card' pk=advertise.id %}"><button class="btn btn-success mb-3">Добавить в понравившиеся</button></a>
    <a href="{% url 'add-to-card' pk=advertise.id %}"><button class="btn btn-success mb-3"></button></a>
        {% if request.user == advertise.seller %}
            <p>Продавец - <a href="{% url 'profile' %}">{{ advertise.seller.first_name }} {{ advertise.seller.last_name }}</a></p>
        {% else %}
        <p>Продавец - <a href="{% url 'profile_user' pk=advertise.seller.id %}">{{ advertise.seller.first_name }} {{ advertise.seller.last_name }}</a></p>
        {% endif %}
    </div>
    <hr  style=" margin-top: 25px">
    <p><span style="color: #73716a; margin-top: 40px">Состояние: </span>{{ advertise.status }}</p>
    <hr>
    <p>г.{{ advertise.city.title }}, {% if advertise.street %}{{ advertise.street.title }}{% endif %}</p>
    <p>{{ advertise.district.title }}</p>
    <hr>
        <p>{{ advertise.description }}</p>

</div>
<div class="row" style="margin-left: 90%"><p>Просмотрено: {{ advertise.viewed }}</p></div>

{% endblock content %}
