{% extends 'base.html' %}

{% block content %}
<h3 class="text-center mt-5 mb-5">Пусто</h3>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{ message }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
{% endif %}

{% for advertise in cart.advertisements.all %}
    <tr>
      <th scope="row">{{ advertise.title }}</th>
      <td class="w-25"><img src="{{ advertise.image.url }}" class="img-fluid"></td>
      <td>{{ advertise.price }} руб.</td>
      <td>{{ advertise.date_add }}</td>
        <td>{{ advertise.city }} {{ advertise.district }} {{ advertise.street }}</>
        <td>{{ advertise.category }}</td>
        <td><a href="#"><button class="btn btn-danger">Удалить из понравившихся</button></a></td>
    </tr>
  {% endfor %}

{% endblock content %}
