{% extends 'base.html' %}
{% block content %}
    <div class="row mt-5">
        {% for advertise in advertises %}
            <div class="col-lg-4 col-md-6 mb-4"><div class="card h-100">
                <a href="{% url 'advertise_detail' category=advertise.category.slug pk=advertise.id %}"><img class="card-img-top" src="{{ advertise.get_main_image.url }}" alt="" height="300"></a>
                <div class="card-body"><h4 class="card-title">
                    <a href="{% url 'advertise_detail' pk=advertise.id category=advertise.category.slug %}">{{ advertise.title }}</a>
                </h4>
                    <h5>{{ advertise.price }} руб.</h5>
                    <p style="color: #797770; margin-top: 20px;">{{ advertise.city.title }}. {{ advertise.district.title }}</p>
                    <p style="color: #797770;">{{ advertise.date_add }}</p>
                <a href="{% url 'delete-from-base' pk=advertise.id %}"><button class="btn btn-danger">Снять с публикации</button></a>
                </div>
            </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}
