{% extends 'base.html' %}

{% block content %}
<div class="row"><h2>{{ user.first_name }} {{ user.last_name }}</h2></div>
    <div class="row" style="margin-bottom: 10px"><a href="{% url 'feedback-add' pk=user.id %}">Оставить отзыв</a></div>
    <div class="row" style="margin-bottom: 10px">
        <h4>Рейтинг: {{ average }}</h4>
        <a href="{% url 'feedbacks_user' pk=user.id %}">{{ quantity }} отзывов(ыв)</a></div>
    {% if user.avatar %}
         <img class="img-fluid" src="{{ user.avatar.url }}" alt="">
    {% endif %}
<h3>Объявления {{ user.first_name }} {{ user.last_name }}</h3>

<div class="row mt-5">
              {% for advertise in advertises.all %}
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a href="{% url 'advertise_detail' category=advertise.category.slug pk=advertise.id %}"><img class="card-img-top" src="{{ advertise.get_main_image.url }}" alt="" height="300"></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="{% url 'advertise_detail' pk=advertise.id category=advertise.category.slug %}">{{ advertise.title }}</a>
                    </h4>
                     <h5>{{ advertise.price }} руб.</h5>
                      <p style="color: #797770; margin-top: 20px;">{{ advertise.city.title }}. {{ advertise.district.title }}</p>
                      <p style="color: #797770;">{{ advertise.date_add }}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
{% endblock content %}
